<!DOCTYPE html>
<html lang="en">
<head>
	<title>myOfficeApp</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
	<script src="myOfficeApp.js"></script>
	<script type="text/javascript" src="clickoutside.directive.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.js"></script>


	<!--polymer-->
	<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
	<link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
	<!--<link rel="stylesheet" href="css/foundation.min.css"/>-->
	<link rel="stylesheet" href="expandableSearchCss/expandable.css"/>

</head>

<body ng-app="myOfficeApp">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
	</div>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-3">
					<form action="" class="search-form">
						<div class="form-group has-feedback">

							<input type="text" class="form-control" name="search" id="search" placeholder="search"/>
							<span class="glyphicon glyphicon-search form-control-feedback"></span>
						</div>
					</form>
				</div>
				<ul class="nav navbar-nav">
					<li class="navbar-inverse active">
						<a class="list-group-item" href="#">
							<i class="fa fa-home fa-lg"></i>
						</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bars fa-lg"></i>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">jmeter</a></li>
							<li><a href="#">EJB</a></li>
							<li><a href="#">Jasper Report</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-cog fa-fw fa-spin"></i>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">jmeter</a></li>
							<li><a href="#">EJB</a></li>
							<li><a href="#">Jasper Report</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<div class="container" data-ng-controller="myOfficeController"  data-ng-init="init()">
	<div class="jumbotron">
		<h1 style="font-family: Copperplate, 'Copperplate Gothic Light', fantasy;">My Office</h1>
	</div>

	<div class="list-group">
		<form name="editCustomerForm" class="form-horizontal" ng-if="shouldShowEditing()||shouldShowEditingExisting()">
			<div class="form-group">
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-user fa-lg"></i></span>
						</div>
						<div class="col-sm-4 columns">
							<select required>
								<option value="mister">Mister</option>
								<option value="miss">Miss</option>
							</select>
						</div>
						<div class="col-sm-7 columns">
							<input type="text" placeholder="Last name" required ng-model="editedCustomer.lastName"/>
						</div>
					</div>
				</div>
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-7 columns">
							<input type="text" placeholder="First name" ng-model="editedCustomer.firstName"/>
						</div>
						<div class="col-sm-5 medium-3 col-lg-3 columns">
							<input type="text" placeholder="Date of birth" ng-model="editedCustomer.birthDate" ui-date="dateOptions" ui-date-format="yy-mm-dd"/>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-home fa-lg"></i></span>
						</div>
						<div class="col-sm-8 columns">
							<input type="text" placeholder="Street and no" ng-model="editedCustomer.street"/>
						</div>
						<div class="col-sm-3 columns">
							<input type="text" placeholder="Zip" required ng-model="editedCustomer.zip"/>
						</div>
					</div>
				</div>

				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-6 columns">
							<input type="text" placeholder="City" required ng-model="editedCustomer.city"/>
						</div>
						<div class="col-sm-3 columns">
							<input type="text" placeholder="Region" required ng-model="editedCustomer.region"/>
						</div>
						<div class="col-sm-3 columns">
							<input type="text" placeholder="Country" required ng-model="editedCustomer.country"/>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-phone fa-lg"></i></span>
						</div>
						<div class="col-sm-8 columns">
							<input type="text" placeholder="phone1" ng-model="editedCustomer.phone1.number">
						</div>
						<div class="col-sm-3 columns">
                    <span class="postfix">
                        <select ng-model="editedCustomer.phone1.kind">
							<option></option>
							<option value="MOBILE">mobile</option>
							<option value="OFFICE">office</option>
							<option value="FAX">fax</option>
							<option value="PRIVATE">private</option>
						</select>
                    </span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-envelope fa-lg"></i></span>
						</div>
						<div class="col-sm-8 columns">
							<input type="email" placeholder="email1" ng-model="editedCustomer.email1.address">
						</div>
						<div class="col-sm-3 columns">
                    <span class="postfix">
                        <select ng-model="editedCustomer.email1.kind">
							<option></option>
							<option value="PRIVATE">private</option>
							<option value="OFFICE">office</option>
						</select>
                    </span>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-phone fa-lg"></i></span>
						</div>
						<div class="col-sm-8 columns">
							<input type="text" placeholder="phone2" ng-model="editedCustomer.phone2.number">
						</div>
						<div class="col-sm-3 columns">
                    <span class="postfix">
                        <select ng-model="editedCustomer.phone2.kind">
							<option></option>
							<option value="MOBILE">mobile</option>
							<option value="OFFICE">office</option>
							<option value="FAX">fax</option>
							<option value="PRIVATE">private</option>
						</select>
                    </span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-envelope fa-lg"></i></span>
						</div>
						<div class="col-sm-8 columns">
							<input type="text" placeholder="email2" ng-model="editedCustomer.email2.address">
						</div>
						<div class="col-sm-3 columns">
                    <span class="postfix">
                        <select ng-model="editedCustomer.email2.kind">
							<option></option>
							<option value="PRIVATE">private</option>
							<option value="OFFICE">office</option>
						</select>
                    </span>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-phone fa-lg"></i></span>
						</div>
						<div class="col-sm-8 columns">
							<input type="text" placeholder="phone3" ng-model="editedCustomer.phone3.number">
						</div>
						<div class="col-sm-3 columns">
                    <span class="postfix">
                        <select ng-model="editedCustomer.phone3.kind">
							<option></option>
							<option value="MOBILE">mobile</option>
							<option value="OFFICE">office</option>
							<option value="FAX">fax</option>
							<option value="PRIVATE">private</option>
						</select>
                    </span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-envelope fa-lg"></i></span>
						</div>
						<div class="col-sm-8 columns">
							<input type="email" placeholder="email3" ng-model="editedCustomer.email3.address">
						</div>
						<div class="col-sm-3 columns">
                    <span class="postfix">
                        <select ng-model="editedCustomer.email3.kind">
							<option></option>
							<option value="PRIVATE">private</option>
							<option value="OFFICE">office</option>
						</select>
                    </span>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-phone fa-lg"></i></span>
						</div>
						<div class="col-sm-8 columns">
							<input type="text" placeholder="phone4" ng-model="editedCustomer.phone4.number">
						</div>
						<div class="col-sm-3 columns">
                    <span class="postfix">
                        <select ng-model="editedCustomer.phone4.kind">
							<option></option>
							<option value="MOBILE">mobile</option>
							<option value="OFFICE">office</option>
							<option value="FAX">fax</option>
							<option value="PRIVATE">private</option>
						</select>
                    </span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-globe fa-lg"></i></span>
						</div>
						<div class="col-sm-11 columns">
							<input type="url" placeholder="Website" ng-model="editedCustomer.websiteUrl">
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-skype fa-lg"></i></span>
						</div>
						<div class="col-sm-11 columns">
							<input type="text" placeholder="skype" ng-model="editedCustomer.social.skypeUrl">
						</div>
					</div>
				</div>
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-linkedin fa-lg"></i></span>
						</div>
						<div class="col-sm-11 columns">
							<input type="text" placeholder="linkedin" ng-model="editedCustomer.social.linkedinUrl">
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-facebook fa-lg"></i></span>
						</div>
						<div class="col-sm-11 columns">
							<input type="text" placeholder="facebook" ng-model="editedCustomer.social.facebookUrl">
						</div>
					</div>
				</div>
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-twitter fa-lg"></i></span>
						</div>
						<div class="col-sm-11 columns">
							<input type="text" placeholder="twitter" ng-model="editedCustomer.social.twitterUrl">
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-google-plus fa-lg"></i></span>
						</div>
						<div class="col-sm-11 columns">
							<input type="text" placeholder="googleplus" ng-model="editedCustomer.social.googleplusUrl">
						</div>
					</div>
				</div>
				<div class="col-lg-6 columns">
					<div class="row collapse1">
						<div class="col-sm-1 columns">
							<span class="prefix"><i class="fa fa-instagram fa-lg"></i></span>
						</div>
						<div class="col-sm-11 columns">
							<input type="text" placeholder="instagram" ng-model="editedCustomer.social.instagramUrl">
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-12 columns">
					<input id="hasMoved" type="checkbox" ng-model="editedCustomer.hasMoved"><label for="hasMoved">Moved</label>
					<input id="isSubcontractor" type="checkbox" ng-model="editedCustomer.isSubcontractor"><label for="isSubcontractor">Subcontractor</label>
					<input id="sendInvitation" type="checkbox" ng-model="editedCustomer.sendInvitation"><label for="sendInvitation">Invitation</label>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-12 columns">
					<textarea rows="5" placeholder="comments" ng-model="editedCustomer.notes"></textarea>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-12 columns">
					<a role="button" aria-label="cancel form" href="#/" class="button small secondary radius">Back</a>
					<button aria-label="submit form" ng-click="saveCustomer()" class="button small radius">Save</button>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-danger pull-right" ng-click="stopEditing();stopEditingExisting();"ng-if="shouldShowEditing()||shouldShowEditingExisting()" ><i class="fa fa-book fa-fw"></i>&nbsp; Cancel</button>
			</div>
			<button type="button" class="btn btn-primary pull-right" ng-click="updateCustomer();" ng-if="shouldShowEditingExisting()">Valid Modification of Customer</button>
			<button type="submit" class="btn btn-primary pull-right" ng-if="shouldShowEditing()"><i class="fa fa-plus-square"></i>&nbsp; Add Customers</button>
		</form>
	</div>
	<div class="list-group" ng-if="!shouldShowEditing()&&!shouldShowEditingExisting()">
		<label for="inputPassword" class="col-sm-2 control-label">Consultation</label>
		<div class="col-sm-12">
			<button type="button" class="btn btn-primary pull-right" ng-click="startEditing();" ng-if="!shouldShowEditing() && !shouldShowEditingExisting() &&!(selectedIndex!=null && editedIndex!=null)">
				<i class="fa fa-book"></i>&nbsp; New Customer
			</button>
			<button type="button" class="btn btn-warning pull-right" ng-click="startEditingExisting();" ng-if="!shouldShowEditing()&&selectedIndex!=null && editedIndex!=null"><i class="fa fa-pencil fa-fw"></i>&nbsp; Edit Customer</button>
			<button type="button" class="btn btn-danger pull-right" ng-click="deleteExisting();" ng-if="!shouldShowEditing()&&selectedIndex!=null && editedIndex!=null"><i class="fa fa-eraser fa-fw"></i>&nbsp; Delete Customer</button>
			<!--
			<table class="table table-bordered table-hover"  ng-table="tableParams" show-filter="true" click-outside="deselectReservation();">
				<thead>
				Attention cette entete pose probleme il faut voir comment mettre du style sur les entetes du 2e tableau
				<tr>
					<th class="col-md-2">
						<div style="color: #008CBA;">Action</div>
					</th>
					<th>
						<a href="#" ng-click="sortType = 'name';sortReverse = !sortReverse;$log.log('SortType '+sortType)">
							<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
							Firstname
						</a>
					</th>
					<th>
						<a href="#" ng-click="sortType = 'lastName';sortReverse = !sortReverse;$log.log('SortType '+sortType)">
							<span ng-show="sortType == 'lastName' && sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="sortType == 'lastName' && !sortReverse" class="fa fa-caret-down"></span>
							Lastname
						</a>
					</th>
					<th>
						<a href="#" ng-click="sortType = 'email';sortReverse = !sortReverse;$log.log('SortType '+sortType)">
							<span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
							Email
						</a>
					</th>
					<th>
						<a href="#" ng-click="sortType = 'adress';sortReverse = !sortReverse;$log.log('SortType '+sortType)">
							<span ng-show="sortType == 'adress' && sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="sortType == 'adress' && !sortReverse" class="fa fa-caret-down"></span>
							Adress
						</a>
					</th>
					<th>
						<a href="#" ng-click="sortType = 'phone';sortReverse = !sortReverse;$log.log('SortType '+sortType)">
							<span ng-show="sortType == 'phone' && sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="sortType == 'phone' && !sortReverse" class="fa fa-caret-down"></span>
							Phone
						</a>
					</th>
					<th>
						<a href="#" ng-click="sortType = 'cell';sortReverse = !sortReverse;$log.log('SortType '+sortType)">
							<span ng-show="sortType == 'cell' && sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="sortType == 'cell' && !sortReverse" class="fa fa-caret-down"></span>
							Cell
						</a>
					</th>

				</tr>

				<tr>
					<th class="col-lg-1">
						<div style="color: #008CBA;">Action</div>
					</th>
					<th>Organizer Firstname</th>
					<th>Organizer Lastname</th>
					<th>Email</th>
					<th>Adress</th>
					<th>Phone</th>
					<th>Cell</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="cust in $data  | orderBy:sortType:sortReverse" ng-click="setEditedCustomer($index);" ng-class="{'active': $index===editedIndex}">
					<td>
						<a><i class="fa fa-plus-circle fa-2x greeniconcolor"></i></a>
						<a><i class="fa fa-pencil-square-o fa-2x"></i></a>
						<a ng-click="deleteExisting($index)"><i class="fa fa-trash fa-2x rediconcolor"></i></a>
					</td>
					<td>{{ cust.firstName }}</td>
					<td>{{ cust.lastName}}</td>
					<td> {{ cust.email1.kind}}&nbsp; {{ cust.email1.address}} <br/> {{ cust.email2.kind}}&nbsp; {{ cust.email2.address}}  <br/>  {{ cust.email3.kind}}&nbsp; {{ cust.email3.address}} </td>
					<td>{{ cust.street}} <br/>  {{ cust.zip}} <br/> {{ cust.city}} <br/>  {{ cust.country| uppercase}}  </td>
					<td> {{ cust.phone1.kind}}&nbsp; {{ cust.phone1.number}} <br/> {{ cust.phone2.kind}}&nbsp; {{ cust.phone2.number}}  <br/>  {{ cust.phone3.kind}}&nbsp; {{ cust.phone3.number}} </td>
					<td>{{ cust.user.cell}}</td>
				</tr>
				</tbody>
			</table>
-->
			<table  ng-table="tableParams" class="table table-condensed table-bordered table-striped" click-outside="deselectCustomer();">
				<tr ng-repeat="cust in $data  | orderBy:sortType:sortReverse" ng-click="setEditedCustomer($index);" ng-class="{'info': $index===editedIndex}">
					<td data-title="'Action'">
						<a><i class="fa fa-plus-circle fa-2x greeniconcolor"></i></a>
						<a ng-click="startEditingExisting($index);"><i class="fa fa-pencil-square-o fa-2x"></i></a>
						<a ng-click="deleteExisting($index)"><i class="fa fa-trash fa-2x rediconcolor"></i></a>
					</td>
					<td data-title="'First Name'" sortable="'firstname'">{{ cust.firstName }}</td>
					<td data-title="'Last Name'" sortable="'lastname'">{{ cust.lastName}}</td>
					<td data-title="'Email'" sortable="'email'"> {{ cust.email1.kind}}&nbsp; {{ cust.email1.address}} <br/> {{ cust.email2.kind}}&nbsp; {{ cust.email2.address}}  <br/>  {{ cust.email3.kind}}&nbsp; {{ cust.email3.address}} </td>
					<td data-title="'Address'" sortable="'Address'">{{ cust.street}} <br/>  {{ cust.zip}} <br/> {{ cust.city}} <br/>  {{ cust.country| uppercase}}  </td>
					<td data-title="'Phone'" sortable="'phone'"> {{ cust.phone1.kind}}&nbsp; {{ cust.phone1.number}} <br/> {{ cust.phone2.kind}}&nbsp; {{ cust.phone2.number}}  <br/>  {{ cust.phone3.kind}}&nbsp; {{ cust.phone3.number}} </td>					
				</tr>
			</table>
			<p class="bg-info">This table is editable. Please click on a row to edit it.</p>
		</div>
	</div>

</body>
</html>
