<link rel="import" href="polymer/polymer.html">

<dom-module id="mynavigation-bar">
  <template>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		   <div class="navbar-header">
		   </div>
		   <div>
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-3">
							<form action="" class="search-form">
								<div class="form-group has-feedback">
									
									<input type="text" class="form-control" name="search" id="search" placeholder="search"/>
									<span class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
							</form>
						</div>
						<ul class="nav navbar-nav">
						 <li class="navbar-inverse active">  
							<a class="list-group-item" href="#">
								<i class="fa fa-home fa-lg"></i>
							</a>
						</li>
						 <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							   <i class="fa fa-bars fa-lg"></i> 
							   <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
							   <li><a href="#">jmeter</a></li>
							   <li><a href="#">EJB</a></li>
							   <li><a href="#">Jasper Report</a></li>
							   <li class="divider"></li>
							   <li><a href="#">Separated link</a></li>
							   <li class="divider"></li>
							   <li><a href="#">One more separated link</a></li>
							</ul>
						 </li>
						 <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-cog fa-fw fa-spin"></i>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
							   <li><a href="#">jmeter</a></li>
							   <li><a href="#">EJB</a></li>
							   <li><a href="#">Jasper Report</a></li>
							   <li class="divider"></li>
							   <li><a href="#">Separated link</a></li>
							   <li class="divider"></li>
							   <li><a href="#">One more separated link</a></li>
							</ul>						
						 </li>
					  </ul>					
					</div>
				</div>
		   </div>
		</nav>  
  </template>

  <script>
    Polymer({
      is: "mynavigation-bar"
    });
  </script>

</dom-module>	
